//Tipografica
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

$fuente_principal: 'Inter', sans-serif;
// colores
$negro: #000000;
$blanco: #ffffff;
// Colores principales
$naranja-s: hsl(35, 77%, 62%);
$rojo-s: hsl(5, 85%, 63%);
$blanco-c: hsl(36, 100%, 99%);
$azul-g: hsl(233, 8%, 79%);
$azul-go: hsl(236, 13%, 42%);
$azul-mo: hsl(240, 100%, 5%);

$movil: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;
